 <nav id="nav">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li>
          <a href="web-technologies.html">Web Technologies</a>
          <ul>
            <li><a href="infrastructure.html">Infrastructure</a></li>
            <li><a href="big-data.html">Big Data</a></li>
            <li><a href="composer-packages.html">Composer Packages</a></li>               
            <li><a href="frameworks.html">Frameworks</a></li>
          </ul>
        </li>
        <li><a href="tools-and-processes.html">Tools &amp; Processes</a></li>
        <li><a href="consulting.html">Consulting</a></li>
        <li><a href="contact-us.html">Contact Us</a></li>
      </ul>
    </nav>