<!DOCTYPE HTML>
<html>
	<head>
		 {% include header_common.html %}
	</head>
	<body class="left-sidebar">

		<!-- Header -->
			<div id="header">

				<!-- Inner -->
					<div class="inner">
						<header>
							{% include logo.html %}
						</header>
					</div>
				
				<!-- Nav -->
					{% include nav.html %}

			</div>
			
		<!-- Main -->
			<div class="wrapper style1">

				<div class="container">
					<div class="row double">
						{% include sidebar.html %}						
						<div class="8u skel-cell-important" id="content">
							<article id="main">
								{{ content }}
							</article>
						</div>
					</div>
					<hr />
					{% include special.html %}					
				</div>

			</div>

		<!-- Footer -->
		 {% include footer.html %} 
	</body>
</html>